@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/geolocal.web.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.web.js")" type="text/javascript"></script>
    </head>
    <body onLoad="appMain();">
    	
    	<a href="/clearSession">Vider la session Play</a>
    	
    	@if(session.get("access_token") != null && session.get("username") != null) {
    		<p>Connect&eacute; en tant que @session.get("name")</p>
    	} else {
    		<p><a href="/signInWithFacebook">Veuillez vous connecter avec Facebook</a></p>
    	}
    
        @content
    </body>
</html>
